@import '../../styles/variables';

a {
    color: #F5F7F8;
}

.about-box {
    // width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 0;
    // background: $accentColor;
    border-radius: 30px;
    padding: 1rem 1.2rem;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        & li {
            background: rgba($primaryColor, 0.8);
            margin: 1rem 0;
            padding: 1rem;
            border-radius: 1.2rem;
            color: #F5F7F8;
            width: 16rem;

            & img {
                width: 24px;
                height: 24px;
                vertical-align: middle;
                margin: 0 .5rem;
                cursor: pointer;

                &:hover {
                    animation: blink 1.5s .5s infinite;
                }
            }
        }

    }

    & .profile-box {
        margin: 0 3rem 0 0;

        & .profile {
            height: 17rem;
            border-radius: 50%;
            background: white;
        }

        & p {
            // text-align: center;
            font-size: .7rem;
            line-height: 1.5;
        }

    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}